.RulesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 20vh;

    h1 {
        border-bottom: #66FCF1 solid;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;;
    }

    ol li{
        margin-top: 15px;
        font-size: 20px;
        font-family: 'Cinzel', serif;

    }
}

@media only screen and (max-width: 768px) {
    /* for mobile phone */
    .RulesContainer {
        padding-top: 6vh;

        h1 {
            margin-top: 5%;
            font-size: 30px;
        }

        ol li{
            font-size: 20px;
            font-family: 'Cinzel', serif;
        }
    }
}

