.buttons {
    display: flex;
    justify-content: center;

    button {
        font-size: 30px;
        font-family: Cinzel;
        margin-left: 40px;
    }
    .start{
        color: white;
    }
}