.navContainer {
    max-width: 100%;
    width: 100%;
    border-bottom: solid #66FCF1;

    h1 {
        font-size: 70px;
        display: flex;
        justify-content: center;
        font-family: 'Cinzel Decorative', cursive;
    
    }

    nav ul {
        font-size: 30px;
        display: flex;
        margin-top: 2%;
        justify-content: space-around;
        list-style-type: none;
    }

    li {
        color: #66FCF1;
        font-family: 'Cinzel', serif;
    }
}